
/*		* {border: #ff4545; border-style:solid; border-width: 1px;}*/

* {color: #1f1f1f; margin: 0px; padding: 0px; font-family: Helvetica}
		body{
			background-color: #dfe5f0;
		}

		h1{
			color: black;
			font-size: 30px;
			text-align: left;
		}

		#navbar{
			background: #343434;
			height: 50px;
			padding-left: 50px;
		}

		#navbar div{
			display: inline-block;
			padding:10px;
			padding-top: 15px;
			background: #343434;
			height: auto;
			width: auto;
			font-size: 15px;
			position: ;
		}
		#navbar div a{
			color: white;
			text-decoration: none;

		}

		#main_container{
			width: 95%;
			border: solid;
			border-width: thin;
			border-top: #b8b8b8;
			border-bottom: #b8b8b8;
			border-color: #b8b8b8;
			text-align: center;
			margin: auto;
			vertical-align: middle;
		}
		#teacher_header{
			margin: auto;
			width: 85%;
			text-align: left;
			height: 100px;
/*			background-color: red;*/
		}

		.text_block{
			margin-bottom: 50px;
			width: 27%;
			display: inline-block;
			margin-left: 17px;
		}
		.parent{
  			filter: drop-shadow(10px 7px);
			margin: auto;
			width: 100%;
			height: auto;
		}
		.top{
			
			background-color: white;
/*			width: 35%;*/
			height: auto;
			border:solid;
			border-color: black;
			border-width:thin;
		}
		.pic{
			width: 100%;
		}
		.top p{
			font-size: 1.5vw;
		}

@media only screen and (min-width: 1300px){
		* {color: #1f1f1f; margin: 0px; padding: 0px; font-family: Helvetica}
		body{
			background-color: #dfe5f0;
		}

		h1{
			color: black;
			font-size: 30px;
			text-align: left;
		}

		#navbar{
			background: #343434;
			height: 50px;
			padding-left: 50px;
		}

		#navbar div{
			display: inline-block;
			padding:10px;
			padding-top: 15px;
			background: #343434;
			height: auto;
			width: auto;
			font-size: 15px;
			position: ;
		}
		#navbar div a{
			color: white;
			text-decoration: none;

		}

		#main_container{
			width: 65%;
			border: solid;
			border-width: thin;
			border-top: #b8b8b8;
			border-bottom: #b8b8b8;
			border-color: #b8b8b8;
			text-align: center;
			margin: auto;
			vertical-align: middle;
		}
		#teacher_header{
			margin: auto;
			width: 85%;
			text-align: left;
			height: 100px;
/*			background-color: red;*/
		}

		.text_block{
			margin-bottom: 50px;
			width: 27%;
			display: inline-block;
			margin-left: 17px;
		}
		.parent{
  			filter: drop-shadow(10px 7px);
			margin: auto;
			width: 100%;
			height: auto;
		}
		.top{
			
			background-color: white;
/*			width: 35%;*/
			height: auto;
			border:solid;
			border-color: black;
			border-width:thin;
		}
		.pic{
			margin: none;
			padding: none;
			width: 100%;
		}
		.top p{
			font-size: 1vw;
		}